@model List<Item>

<div class="row mt-5">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">Price: @item.Price</p>
                    <p class="card-text">Amount in Storage: @item.AmountInStorage</p>
                    <button class="btn btn-primary">Add to cart</button>
                </div>
            </div>
        </div>
    }
</div>
